<h5><%= comment.user.email %></h5>
<p>
  <%= comment.content %>
</p>

<%= render 'form', parent_comment: comment.id %>
<% comment.child_comments.each do |baby| %>
  <%= render 'comment', comment: baby %>
<% end %>
